<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid h-screen place-content-center">
        <div id="login-btn" class="text-md flex w-[400px] cursor-pointer items-center justify-center gap-x-4
            rounded-md border border-slate-800 p-4">
            <a href="http://localhost:3003/api/v1/auth/google">
                Login with google
            </a>
        </div>
    </div>
    <script>
        // $("#login-btn").click(() => {
        //     window.location
        // })
    </script>
</body>

</html>